@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

.App {
}

.Container-Navbar{
  background-color: #262626;
  position: fixed;
  width: 100%;
}
.Container-Content{
  padding-top: 60px;
}

.Font-NotoSans{
 font-family: 'Noto Sans KR', sans-serif;
}

.white{
  color: white;
}
