@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

.App {
}

p{
  margin: 0;  
}



.ContainerNavbar{
  background-color: #262626;
  position: fixed;
  width: 100%;
  height: 55px;
  top: -55px;
  animation: moveNav 0.5s forwards;
}

.ContainerContent{
  position: fixed;
  top: 55px;
}

.ColorWhite{
  color: white;
}

.NavText{
 font-family: 'Noto Sans KR', sans-serif;
 color: white
}

.NavText:hover{
  font-size: 15px;
  transform: translateY(50px);
  transition: 0.5s;
}

/*  Common font */
.BigText{
   font-family: 'Noto Sans KR', sans-serif;
    color: black;
    /* color: white; */
    font-size: 35px;
}

.MiddleText{
   font-family: 'Noto Sans KR', sans-serif;
    color: black;
    /* color: white; */
    font-size: 20px;
}

.SmallText{
   font-family: 'Noto Sans KR', sans-serif;
    color: black;
    /* color: white; */
    font-size: 16px;
}

@keyframes moveNav{
  from{
    top: -55px;
  }
  to{
    top: 0px;
  }
}
