@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

.App {
  font-family: 'Noto Sans KR', sans-serif;
}

p{
  margin: 0;  
}

.ContainerNavbar{
  background-color: #1e1e1e;
  position: fixed;
  width: 100%;
  height: 55px;
  top: -55px;
  animation: moveNav 0.5s forwards;
}

.ContainerContent{
  position: fixed;
  top: 55px;
}

.ColorWhite{
  color: white;
}

.logo{
  width: 20px;
  height: 25px;
}

.Narcoker{
 color: white;
 font-size: 20px;
}

.NavText{
 color: white;
 font-size: 15px;
}

.NavText:hover{
  font-size: 1.1vw;
  transform: translateY(50px);
  transition: 0.5s;
}

/*  Common font */
.BigText{
    color: black;
    /* color: white; */
    font-size: 35px;
}

.MiddleText{
    color: black;
    /* color: white; */
    font-size: 20px;
}

.SmallText{
    color: black;
    /* color: white; */
    font-size: 16px;
}

@keyframes moveNav{
  from{
    top: -55px;
  }
  to{
    top: 0px;
  }
}

